<header class="main-header">
    <nav class="navigation-menu container">
        <a href="/index.html" class="logo-link">
            <img src="/assets/images/logo-iProperu.png" alt="Logo de iPro Perú" class="logo-img">
        </a>
        <ul class="nav-links">
            <li><a href="/index.html" class="nav-link">Inicio</a></li>
            <li><a href="/servicios.html" class="nav-link">Servicio Técnico</a></li>
            <li><a href="/productos.html" class="nav-link">Productos</a></li>
            <li><a href="/nosotros.html" class="nav-link">Nosotros</a></li>
        </ul>
        <a href="https://api.whatsapp.com/send?phone=51979012180&text=Hola%20iPro%20Perú,%20quisiera%20cotizar%20una%20reparación." target="_blank" class="main-cta-button">
            Cotizar Reparación
        </a>
    </nav>
</header>